<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Locations Map</title>
    <!-- Leaflet CSS -->
    
    <style>
        
        body {
            position: absolute;
            top: 20px; left: 50%;
            
            font-size: 1rem;
        }
    </style>
</head>
<body>
 
 <form action="/items1" method="post">
       
        <input type="text" name="item" placeholder="item" id="item" required>
        <input type="submit" value="Send">
        
 </form>
  <form action="/del_location12" method="post">
       
        <input type="text" name="region" placeholder="region" id="region" required>
        <input type="text" name="latitude" placeholder="region" id="latitude" required>
        <input type="text" name="longitude" placeholder="region" id="longitude" required>
        <input type="submit" value="Send">
        
 </form>
 

</body>
</html>

